body {
  background-color: #fff;
}

html .overlay h1,
html .overlay h2,
html .overlay h3,
html .overlay p,
html .overlay .credit,
html .overlay .license {
  background-color: rgba(100,100,100,0.8);
  color: #fff;
}

html .overlay h1 { padding: 0.1em; }
html .overlay h2 { padding: 0.1em; }
html .overlay h3 { padding: 0.1em; }
html .overlay p { padding: 0.1em; }
html .overlay a, html .overlay a:not(.image) { color: #90BCDB; }

div.anchor {
  float:none;
  clear:both;
  line-height:0;
  font-size:0;
}

.slides section {
	height: 100%;
}

.slides .fineprint {
	position: relative;
	bottom: 0;
  font-size: 60%;
  color: #bbb;
}

/*.slides .credit.fullpage {
	position: relative;
	bottom: -1em;
}

.slides .credit#donut {
	position: relative;
	bottom: -1em;
}*/

.slides .footer {
  position: absolute;
	bottom: 1em;
	/*margin: auto;*/
	vertical-align: middle;
	left: auto;
	right: auto;
	width: 100%;
  display: block;
	/*height: 150px;*/
	/*border: 1px white solid;*/
}

.slides .credit {
	position: relative;
	bottom: 0;
	font-size: 60%;
  padding: 0.2em;
	margin: auto;
	display: block;
}

.slides .license, .slides .affiliation {
  /*display: block;*/
  font-size: 70%;
  padding: 0.2em;
}

.slides .affiliation {
  float: left;
}

.slides .affiliation img.logo {
	box-shadow: none;
	background: none;
}

.slides .license {
  float: right;
}

.slides .license img, .slides .affiliation img {
  margin: auto;
  vertical-align: sub;
}

.slides p.quote {
	font-size: 2em;
}

.reveal h1 { font-size: 3.2em; }
.reveal p { margin-top: 0.3em; }
.reveal li { margin-top: 0.2em; }

.reveal h2 {
  margin-top: 1em;
}
.reveal h2:first-of-type {
  margin-top: 0;
}


.reveal .left h1,
.reveal .left h2,
.reveal .left h3,
.reveal .left p { text-align: left; margin-left: 15%; }
/*.reveal .left ul,
.reveal .left ol { margin-left: 0%; }*/
.reveal .left ul li,
.reveal .left ol li { padding-left: 0.2em;}
.reveal .left ol { margin-left: 20%; }

.reveal .right img { float: right; margin: 0px 5% 0.5em 0.1em;}

.reveal section img, .reveal section img:hover {
  box-shadow: none;
}


#notes {
  font-size: 14px;
}
